{% extends "base.html" %} 

{% block title %} 
Project Management Website
{% endblock %}

{% block content %} 
<article>   
    <header>
        <h1>Welcome!</h1>
        <p>The project website will serve as a repository for all the project documentations and phases to include project proposal, project charter, weekly log and deliverables for each project phase (i.e.,planning, analysis, design, implementation)</p>
        <br>
</br>
<p><u><b>Stakeholders</p></u></b>
<p>Ralph Anderson - Project Manager</p>
<p>Professor Canedo - Project Sponsor</p>
        
    </header>
</article>
<h1 class="banner">Project Management Website</h1>




<br>
    
    <a href="/static/PP.pdf">Project Proposal</a>
    <a href="/static/PC.pdf">Project Charter</a>
    <a href="/static/PPL.pdf">Project Plan</a>
    <a href="/static/WR.pdf">Weekly Log</a>
    <a href="/static/RDS.pdf">Requirements</a>
</div>

<div class="content" name="content" id="content">





</body>
      
{% endblock %}