<html>
<head>
<title>Project Management Website</title>
<link rel="stylesheet" type="text/css" href="intern.css">

</head>

<body>
<h1 class="banner">Project Management Website</h1>

<div class="nav" name="navi" id="navi">
<span class="menutitle">Menu Bar</span>

<a href="index.html">Project Home</a>
<br>
<a href="PP.html">Project Proposal</a>
<a href="PC.html">Project Charter</a>
<a href="PPlan.html">Project Plan</a>
<a href="">Analysis</a>
<a href="">Design</a>
<a href="">Implementation</a>
<a href="">Maintenance</a>
<a href="WR.html">Weekly Log</a>
</div>

<div class="content" name="content" id="content">
<span class="goldline">Project Website</span><br><br>

<p>The project website will serve as a repository for all the project documentations and phases to include project proposal, project charter, weekly log and deliverables for each project phase (i.e.,planning, analysis, design, implementation).</p>
<br>
</br>
<p><u><b>Stakeholders</p></u></b>
<p>Ralph Anderson - Project Manager</p>
<p>Professor Canedo - Project Sponsor</p>

</body>
</html>